page-event {
  ion-header {
    height: 186px;
    background-size: cover;

    ion-navbar {
      height: 100%;

      .toolbar-background {
        background: transparent !important;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.0), #105256 86%) !important;
      }

      .back-button {
        align-self: flex-start;
      }

      .toolbar-content {
        align-self: flex-end;
        padding-bottom: 25px;

        .toolbar-title {
          color: #fff;
          text-overflow: initial;
          white-space: normal;
          font-size: 2.4rem;
        }
      }

    }
  }
}
