<ion-header [ngStyle]="{'background-image': 'url(' + event.image + ')'}">
  <ion-navbar color="primary">
    <ion-title>{{ event.title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid class="event-details" padding>
    <ion-row>
      <ion-col col-1 text-center>
        <ion-icon name="time"></ion-icon>
      </ion-col>
      <ion-col>{{ event.startDate }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-1 text-center>
        <ion-icon name="list"></ion-icon>
      </ion-col>
      <ion-col>{{ event.longDescription }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-1 text-center>
        <ion-icon name="pin"></ion-icon>
      </ion-col>
      <ion-col>{{ event.location.address }}</ion-col>
    </ion-row>
  </ion-grid>

  <ion-segment [(ngModel)]="itineraryDirection" class="itinerary-selector" color="dark">
    <ion-segment-button value="forward">Trajet aller</ion-segment-button>
    <ion-segment-button value="backward">Trajet retour</ion-segment-button>
  </ion-segment>

  <div class="event-itineraries">
    <div class="content-loader" *ngIf="!itineraries" padding>
      <ion-spinner name="crescent" color="primary"></ion-spinner>
      <p>Calcul des itinéraires en cours</p>
    </div>

    <ion-list *ngIf="itineraries">
      <ion-item *ngFor="let itinerary of itineraries" detail-push>
        <ion-grid no-padding>
          <ion-row align-items-center>
            <ion-col class="itinerary-icon" col-2 text-center>
              <ion-icon name="bicycle"></ion-icon>
            </ion-col>
            <ion-col class="itinerary-duration">{{ formatDuration(itinerary.duration) }}</ion-col>
            <ion-col class="itinerary-price" text-right>{{ formatPrice(itinerary.fare) }}</ion-col>
          </ion-row>
        </ion-grid>
        <button ion-button clear item-end>Choisir</button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
