<ion-header [ngStyle]="{'background-image': 'url(' + event.image + ')'}">
  <ion-navbar color="primary">
    <ion-title>{{ event.title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <div class="content-loader" *ngIf="!event">
    <ion-spinner name="crescent" color="primary"></ion-spinner>
    <p>Chargement du détail de l'évènement en cours</p>
  </div>

  <div *ngIf="event">
    {{ event | json }}
  </div> -->

  <div class="content-loader" *ngIf="!itineraries">
    <ion-spinner name="crescent" color="primary"></ion-spinner>
    <p>Chargement des itinéraires en cours</p>
  </div>

  <div *ngIf="itineraries">
    {{ itineraries | json }}
  </div>

</ion-content>
