<ion-header>
  <main-nav></main-nav>
</ion-header>

<ion-content>
  <day-selector></day-selector>

  <div class="content-loader" *ngIf="!events">
    <ion-spinner name="crescent" color="primary"></ion-spinner>
    <p>Chargement des évènements cours</p>
  </div>

  <ion-list padding-vertical>
    <ion-item *ngFor="let event of events">
      <ion-thumbnail item-start>
        <img [src]="event.image">

        <div class="event-time">
          <ion-icon name="time" color="light"></ion-icon>
          18:30
        </div>
      </ion-thumbnail>

      <h3 class="event-category">{{ event.category }}</h3>
      <h2 class="event-title">{{ event.title }}</h2>
      <p class="event-description">{{ event.description }}</p>
      <div class="event-location">
        <ion-icon name="pin" color="primary"></ion-icon>
        {{ event.location.address }}
      </div>
    </ion-item>
  </ion-list>
</ion-content>
