page-itinerary {
  .event-details {
    padding: 0;

    h1 {
      font-size: 20px;
      font-weight: normal;
      margin: 0;
      padding: 8px;
    }

    ion-icon {
      font-size: 1.6em;
    }
  }

  .itinerary-details {
    .itinerary-direction {
      font-size: 18px;
    }

    .itinerary-icon ion-icon {
      font-size: 1.6em;
    }

    .itinerary-price {
      padding-right: 20px !important;
    }

    .itinerary-duration,
    .itinerary-price {
      font-size: 14px;
    }
  }
}
