<ion-segment [(ngModel)]="currentDay" color="primary" (ionChange)="onChanged($event.value)">
  <ion-segment-button value="lundi">Lun.</ion-segment-button>
  <ion-segment-button value="mardi">Mar.</ion-segment-button>
  <ion-segment-button value="mercredi">Mer.</ion-segment-button>
  <ion-segment-button value="jeudi">Jeu.</ion-segment-button>
  <ion-segment-button value="vendredi">Ven.</ion-segment-button>
  <ion-segment-button value="samedi">Sam.</ion-segment-button>
  <ion-segment-button value="dimanche">Dim.</ion-segment-button>
</ion-segment>