page-map {
  .content-loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: rgba($color: #fff, $alpha: 0.85);
  }

  .container {
    height: 100%;

    map {
      position: absolute;
      top: $segment-button-md-height;
      bottom: 0;
      left: 0;
      right: 0;
    }

    ion-fab[top] {
      top: 54px;
    }

    .fab ion-icon {
      color: color($colors, dark);
    }
  }

  event-card {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
}
