page-map {
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;

    map {
      flex: 1 0;
      display: flex;

      .leaflet-container {
        flex: 1;
      }
    }
  }
}
